.root {
    flex-direction: row;
}

.tab-list {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.tab-list-item {
    cursor: pointer;
    margin: 0 5px;
    background: #1ea7fd;
    padding: 0 5px;
    border-radius: 10px;
}