.root {
  position: fixed; /* Stay in place */
  justify-content: center;
  overflow: auto; /* Enable scroll if needed */
  background-color: #F0F8FF;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.primary {
}
